<div class="landpage">
  <div class="landpage-inner">
    <div class="cover-container">
      <header class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">MyIMDB</h3>
          <nav class="nav nav-masthead">
            <a href="/" class="nav-link active">Home</a>
            <a href="/series" class="nav-link">TV Series</a>
            <a href="/movies" class="nav-link">Movies</a>
          </nav>
        </div>
      </header>
      <main role="main" class="inner cover">
        <h1 class="cover-heading">Watch only the best.</h1>
        <p class="lead">Try the platform of the future for audiovisual entertainment.</p>
        <p class="lead"><a href="/login" class="btn btn-lg btn-secondary">Log in</a></p>
      </main>
      <footer class="mastfoot">
        <div class="inner">
          <p>Created By <a href="https://github.com/IIT-Web-Application-Development/myimdb">MyIMDB team</a></p>
        </div>
      </footer>
    </div>
  </div>
</div>
