extends layout

block content
    h2 #{title}
    form(method='POST', action='/add')
        #form-group
            label Title:
            input.form-control(name='title', type='text', placeholder='Enter movie title')
        #form-group
            label Description:
            textarea.form-control(name='Description', placeholder='Enter movie description')
        #form-group
            label Image:
            input.form-control(name='image_url', type='text', value='http://placehold.it/700x400?text=Movie_Cover')
        br
        input.btn.btn-primary(type='submit',value='Submit')
