extends layout

block content
    h2 #{title}
    ul.list-group
        each movie, i in movies
            li.list-group-item
                h5 #{image_url}
                //img(src= "#{movie.image_url}" alt='Lights', style='width:100%')
                a(href="/movie/" + movie._id)= movie.title
