@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.portfolio-item {
    margin-bottom: 30px;
}

.remove-fav {
    position: absolute;
    color: red;
    left: 90%;
    font-size: 275%;
}